{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if paginator.results %}
        <table class="mt-5 col-6 table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'Username'|trans }}</th>
                <th scope="col">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in paginator.results %}
                <tr>
                    <th>{{ user.userName }}</th>
                    <td>
                        {% if user.isDisabled %}
                            <button class="btn btn-primary" disabled aria-disabled="true">
                                disable
                            </button>
                         {% else %}
                             <a href="{{ path('user_disable', {'userId': user.id}) }}" class="btn btn-primary">
                                 disable
                             </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="well">{{ 'not user found'|trans }}</div>
    {% endif %}
    {% if paginator.hasToPaginate %}
        <ul class="pagination mt-3">
            {% if paginator.hasPreviousPage %}
                <li class="prev">
                    <a href="{{ path('users', {page: paginator.previousPage}) }}" rel="previous" class="page-link">{{ 'previous'|trans }}</a>
                </li>
            {% else %}
                <li class="prev disabled">
                    <a class="page-link">{{ 'previous'|trans }}</a>
                </li>
            {% endif %}

            {% for i in 1..paginator.lastPage %}
                {% if i == paginator.currentPage %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-link">
                        <a href="{{ path('users', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginator.hasNextPage %}
                <li class="page-item">
                    <a href="{{ path('users', {page: paginator.nextPage}) }}" rel="next" class="page-link">{{ 'next'|trans }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">{{ 'next'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
